*{
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

main {
    margin: 20px 25%;
    text-align: center;

}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
}

.signup-form label {
    font-weight: bold;
}

.signup-form input[type="email"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;   
}

.signup-form button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer; 
}

.signup-form button:hover {
    background-color: blue;
}

span {
    color: red;
}


    